<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>로그인</h1>
</header>
<main>
    <form action="/api/users/login" method="post">
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">로그인</button>
    </form>

    <hr>

    <h2>소셜 로그인</h2>
    <a href="/oauth2/authorization/naver">네이버로 로그인</a>

    <hr>

    <p>계정이 없으신가요? <a href="/api/users/register">회원가입</a></p>
</main>
<script src="/js/scripts.js"></script>
</body>
</html>
